@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Poppins:wght@400;500&display=swap");

/* BODY */

body {
	font-family: "Poppins", sans-serif;
}

#landing {
	background-image: url("img/bg/foto_fundo.bbb0df45ebcf.jpg");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	/* font-family: "Roboto", sans-serif; */
	font-family: "Poppins", sans-serif;
}

/* #quemsomos {
	background-image: url("img/bg/quem_somos.b2d803873008.jpg");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	color: black;
} */

#main-landing {
	margin-top: 3.33rem;
}

/* HEADER (NAVBAR) - LANDING */

div#navbar {
	background-color: #000000;
	height: 3.6rem;
}

#nav1-logo-custom {
	font-size: 1.7rem !important;
	color: white;
}

.upper-logo {
	list-style: none;
	text-transform: uppercase;
}

#nav2,
#nav3 {
	display: inline-block;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
	color: white;
}

.upper-logo a:hover {
	background-color: #606060;
	color: #ffffff;
}

/* MAIN */

.card {
	background-color: rgba(0, 0, 0, 0.5) !important;
	height: 370px;
	width: 400px;
	margin-top: 2rem;
	margin-bottom: 7rem;
}

.social_icon span {
	color: #ffc312;
	font-size: 60px;
	margin-left: 10px;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header {
	margin-top: 0.3rem;
}

.card-header h3 {
	color: white;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	width: 50px;
	background-color: #ffc312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #ffc312;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

#id_campo_inferior a {
	color: #ffc312 !important;
}

#id_campo_inferior a:hover {
	color: #ffc312 !important;
}

/* Esqueceu Sua Senha - Modal */

.modal {
	max-width: 400px !important;
	height: 200px;
}

#topo {
	margin-bottom: 40px;
	margin-top: 20px;
}

.modal a.close-modal {
	top: 10.5px !important;
	right: 9.5px !important;
}

/* MAIN - QUEM SOMOS */

#main-quemsomos {
	color: rgb(255, 255, 255);
	background-image: url("img/bg/quem_somos.b2d803873008.jpg");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	/* height: 100%; */
	height: 39.05rem;
}

.main-title {
	margin-top: 9.7rem;
	margin-left: 14rem;
}

.main-text {
	margin-top: 3rem;
	margin-left: 14rem;
}

.link-cadastro {
	text-align: center;
	margin-top: 4rem;
}

.link-cadastro a {
	background-color: #000000;
	color: #ffffff;
	/* background-color: #d47e38;
	color: #000000; */
	text-decoration: none;
	cursor: pointer;
	transition: background-color 1s;
	border-radius: 0.8rem;
	padding: 1rem;
}

div#main-quemsomos .link-cadastro a:hover {
	background-color: #d47e38;
	color: #000000;
}

/* MAIN - SEJA UM PARCEIRO */

#main-sejaparceiro {
	color: rgb(255, 255, 255);
	background-image: url("img/bg/seja_parceiro.78775e6bb1ab.jpg");
	background-position: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	height: 39.05rem;
}

div#main-sejaparceiro .link-cadastro a:hover {
	background-color: #606060;
	color: #000000;
}
