<!-- prettier-ignore  -->
{% extends 'base.html' %}
{% load static %} {% block content %}

<div class="container-fluid" id="landing">
	{% include 'partials/navbar.html' %}

	<main id="main-landing">
		<div class="container overflow-auto">
			<div class="d-flex justify-content-center">
				<div class="card">
					<div class="card-header">
						<h3>Login</h3>
						<div class="d-flex justify-content-end social_icon">
							<span><i class="fab fa-facebook-square"></i></span>
							<span><i class="fab fa-google-plus-square"></i></span>
						</div>
					</div>
					<div class="card-body">
						<form>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"
										><i class="fas fa-user"></i
									></span>
								</div>
								<input type="email" class="form-control" placeholder="email" />
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"
										><i class="fas fa-key"></i
									></span>
								</div>
								<input
									type="password"
									class="form-control"
									placeholder="senha"
								/>
							</div>
							<div class="row align-items-center remember">
								<input type="checkbox" />Lembrar de mim
							</div>
							<div class="form-group d-flex justify-content-center mt-3">
								<input
									type="submit"
									value="Entrar"
									class="btn float-right login_btn"
								/>
							</div>
						</form>
					</div>
					<div class="card-footer" id="id_campo_inferior">
						<div class="d-flex justify-content-center links">
							Ainda não tem conta?<a href="{% url 'cadastro' %}">
								Cadastre-se
							</a>
						</div>
						<div class="d-flex justify-content-center">
							<a href="#fundo_modal" rel="modal:open">Esqueceu sua senha?</a>
							<div id="fundo_modal" class="modal">
								<div class="container">
									<section id="topo">
										<h4 id="esqueceu_senha">Esqueceu sua senha?</h4>
									</section>
									<section id="base">
										<form
											action=""
											method="POST"
											id="id_form_recuperacao"
											class="row"
										>
											<input
												name="email_recu"
												style="max-width: 75%; float: left"
												class="form-control"
												type="email"
												placeholder="Email"
												id="id_recuperacao"
												required
											/>
											<button
												style="float: left; margin-left: 15px"
												type="submit"
												class="btn btn-primary"
												id="button_custom"
											>
												Enviar
											</button>
										</form>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}
